body, html {
    height: 100%;
    background-color: #4c515d !important;
    font-family: 'Oswald', sans-serif;
}



.space-top {
    margin-top: 20px;
}

.space-left {
    margin-left: 20px;
}

.space-bottom {
    margin-bottom: 10px;
}

.text-header {
    text-align: center;
    padding: 30px;
}

.song-bar{
	border-radius:5px;
}

.global-text, .global-subtext {
    color: white;
}

.global-text {
    font-weight: bold;
    font-size: 70px;
	text-shadow: 5px 5px black;
}

.global-subtext {
    font-size: 40px;
	color: #d9d9d9;
}

#profile-photo {
    max-height: 300px;
    max-width: 300px;
}

.module-container{
	padding:10px;
	border-radius:5px;
}


.song-image {
    max-height: 150px;
    max-width: 150px;
}

.song-image-small {
    max-height: 100px;
    max-width: 100px;
    margin-left: 2%;
    display: block;
}

.song-text {
    margin-left: 2%;
    font-size: x-large;
	line-height:45px;
    float: left;
	color:#d9d9d9;
}

#upvote, #downvote {
    cursor: pointer;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border {
    background-color: #69687a;
    padding-bottom: 10px;
    border-style: solid;
    border-width: medium;
}

#hint_id_username, .requiredField, #div_id_email  {
    color: white !important;
}

.center-text {
    text-align: center;
}

#error_1_id_username, #error_1_id_password {
    color: #dbafc3 !important;
}

.profile-text {
    padding-left: 1%;
    padding-top: ;
	color:white;
}

.profile-pic{
	border-radius:3px;
}

.big-image {
    width: 300px;
    height: 300px;
	border-radius:3px;
}

.item {
    display: block;
}

.selected{
    box-shadow:0px 12px 22px 1px #333;
}

.para-box{
	padding:20px;
}
