body, html {
    height: 100%;
    background-color: #4c515d !important;
    font-family: 'Oswald', sans-serif;
}

.hover:hover{
	background-color:blue;
}

#search-bar {
    max-width: 600px;
    width: 100%;
}

.space-top {
    margin-top: 20px;
}

.space-left {
    margin-left: 20px;
}


.text-header {
    text-align: center;
    padding: 30px;
}

.song-bar{
	background-color:#212529;
	margin-bottom:15px;
	border-radius:5px;
}

.over

.global-text, .global-subtext {
    color: white;
}

.global-text {
    font-weight: bold;
    font-size: 70px;
}

.global-subtext {
    font-size: 50px;
}

.song-image {
    max-height: 150px;
    max-width: 150px;
}

.song-image-small {
    max-height: 100px;
    max-width: 100px;
    margin-left: 2%;
    display: block;
}

.song-text {
    margin-left: 2%;
    font-size: 29px;
    float: left;
	color:#a6a6a6;
	white-space: nowrap; 
	width: 500px; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

.song-text strong{
	color:#4c515d;
}


#upvote, #downvote {
    cursor: pointer;
}

.float-left {
    float: left;
}

.row-format{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.float-right {
    float: right;
}

.border {
    background-color: #69687a;
    padding-bottom: 10px;
    border-style: solid;
    border-width: medium;
}

#hint_id_username, .requiredField, #div_id_email  {
    color: white !important;
}

.center-text {
    text-align: center;
}

#error_1_id_username, #error_1_id_password {
    color: #dbafc3 !important;
}

.profile-identity {
    padding-left: 1%;
    padding-top: 1%;
}

.big-image {
    width: 300px;
    height: 300px;
}

.item {
    display: block;
}

.selected{
    box-shadow:0px 12px 22px 1px #333;
}