{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block body_block %}
<div class="container border space-top">
    <div class="row">
        <div class="col-md-12">
            <h1 class="global-subtext center-text"><strong>Request to have a song added to our database!</strong></h1>
            <form id="add_song" method="post" action="{% url 'spuni:add_song' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Add Song!" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>
{% endblock %}