<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spuni - Music at your fingertips.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The base CSS file, containing everything. -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- JQuery. It's added here to be called before the scripts. -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

        <!-- Bootstrap. -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Notifications -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" type="text/javascript"></script>

        <!-- Search Bar -->
        <script src="{% static 'js/searchbar.js' %}" type="text/javascript"></script>

        <!-- New Font. -->
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> 
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
			<a class="navbar-brand" href="{% url 'spuni:index'%}"><img src="{% static 'images/spuni_100x69.png' %}" alt="Spuni Logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item ">
						<!--nav bar items go here -->
						<input id="search-bar" class="form-control text-center top-padding-search" type="text" placeholder="Search for your songs.">
					</li>
				</ul>
			
				
				
				<div class="col-xs-4 navbar-nav ml-auto">
                    {% if user.username %}
                        <div class="btn-group">
                            <a id="profile" class="nav-link text btn btn-secondary" href="/spuni/profile/{{ user.username }}">My Profile</a>
                            <a class="nav-link text btn btn-secondary" href="{% url 'spuni:logout' %}">Logout</a>
                        </div>
                    {% else %}
                        <div class="btn-group">
                            <a id="register" class="nav-link text btn btn-secondary" href="{% url 'spuni:register' %}">Sign Up</a>
                            <a class="nav-link text btn btn-secondary" href="{% url 'spuni:login' %}">Sign In</a>
                        </div>
                    {% endif %}
                </div>
				
			</div>
		</nav>
		<!-- Navigation Bar -->

        <!-- Main Body -->
        {% block body_block %}
        {% endblock %}
        <!-- Main Body -->
    </body>
</html>