{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block body_block %}
    {% if edited %}
        <meta http-equiv="REFRESH" content="0;{% url 'spuni:show_profile' user.username %}">
    {% else %}
    <div class="container ">
        <div class="row space-top">
            <div class="col-md-12 module-container bg-dark">
                <h1 class="global-subtext center-text"><strong>Change Your Profile Pic!</strong></h1>
                <form id="edit_form" method="post" action="{% url 'spuni:edit_profile' %}">
                    {% csrf_token %}
                    {{ edit_form|crispy }}
                    <input type="submit" value="Submit" class="btn btn-success" />
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}