{% extends "base.html" %} 
{% load static %} 
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> 
{% endblock %} 
{% block body_block %}
<!-- Banner -->
<div class="container">
    <div class="row top-space">
        <div class="col-md-12">
            <p class="text-header">
                <span id="global-text" style="font-weight:bold;font-size:70px">GLOBAL TOP 100 SONGS</span>
                <br>
                <span style="font-size:50px">Songs upvoted by your fellow students!</span>
            </p>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Top 100 Table -->
<div class="container border">

    {% if songs %} 
    {% for song in songs %}
    <div class="row top-space">
        <div class="col-md-12">
            <a href="{% url 'spuni:show_song' song.slug %}">
                <img class="listing-image" id="thumbnail" height="150px" width="150px" src={{song.albumArt}}>
                <p class="listing-text">{{song.name}}
                    <br>{{song.artist}}</p>
            </a>
            <img class="listing-button" src="{% static 'images/downvote.png' %}" width=150px height=150px>
            <img class="listing-button" src="{% static 'images/upvote.png' %}" width=150px height=150px>
        </div>
    </div>
    {% endfor %} 
    {% else %}
    <strong>There are no songs present.</strong> 
    {% endif %}

</div>
<!-- Top 100 Table End -->
{% endblock %}