{% extends "base.html" %}

{% load static %}

{% block body_block %}
<!-- Banner -->
<div class="container-fluid">
    <div class="row space-top">
        <div class="col-md-12">
            <p class="text-header">
                <span class="global-text">GLOBAL TOP 100 SONGS</span>
                <br />
                <span class="global-subtext">Songs upvoted by your fellow students!</span>
            </p>
        </div>
    </div>
</div>
<!-- Banner -->

<!-- Song Table -->
<div class="container">
        {% if not songs %}
            <!-- If there are no songs then post an error. -->
            <div class="row space-top">
                <p class="global-subtext">There are no songs present.</p>
            </div>
        {% else %}
            {% for song in songs %}
                <div class="row song-bar" >
                    <div class="row-format">
                        <a href="{% url 'spuni:show_song' song.slug %}" >
                            <img class="song-image float-left"  src={{song.albumArt}}>
							<p class="song-text"><strong>Song:</strong> {{song.name}}<br><strong>Artist:</strong> {{song.artist}}<br><strong>Likes:</strong> {{song.upvotes}}</p>
                        </a>
						<img id="downvote" title="{{song.slug}}" alt="upvote" class="song-image float-right" src="{% static 'images/downvote.png' %}">
                        <img id="upvote" title="{{song.slug}}" alt="downvote" class="song-image float-right" src="{% static 'images/upvote.png' %}">
                    </div>
                </div>
            {% endfor %}
        {% endif %}
</div>
<!-- Song Table -->

<script src="{% static 'js/votes.js' %}" type="text/javascript"></script>
{% endblock %}