{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row top-space">
            <div class="col-md-12">
                <h1>Login to Spuni!</h1>
                <form id="login_form" method="post" action="{% url 'spuni:login' %}">
                    {% csrf_token %}
                    {{ login_form|crispy }}
                    <input type="submit" value="submit" class="btn btn-success" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}