{% extends "base.html" %} 
{% load static %}

{% block css_block %}
{% endblock %}

{% block body_block %}
    {% if user %}
        {% if username %}
            <img src="{{ user.photo }}" alt="{{ username }}'s profile picture" />
            <h1>{{ username }}</h1>
                {% if songs %}
                    <ul>
                        {% for song in songs %}
                            <li>{{ song.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}