{% extends "base.html" %}

{% load static %}

{% block body_block %}

<!-- Banner -->
<div class="container-fluid">
    <div class="row space-top">
        <div class="col-md-12">
            <p class="text-header">
                <span class="global-text">TOP SEARCH RESULTS :</span>
            </p>
        </div>
    </div>
</div>
<!-- Banner -->

<!-- Song Table -->
<div class="container ">
    {% if not songs %}
        <!-- If there are no songs then post an error. -->
        <div class="row space-top">
            <p class="global-subtext">No songs match that search :(</p>
        </div>
    {% else %}
        {% for key, value in songs.items %}
            <div class="row space-top">
                <div class="col-md-12 song-bar bg-dark">
                    <img class="song-image float-left" src={{value.album_art}}>
                    <p class="song-text"><strong>Song</strong>: {{value.name}}<br><strong>Artist</strong>: {{value.artist_name}}<br><strong>Likes</strong>: {{value.upvotes}}</p>
                    <img id="downvote" title="{{value.slug}}" class="song-image float-right" src="{% static 'images/downvote.png' %}">
                    <img id="upvote" title="{{value.slug}}" class="song-image float-right" src="{% static 'images/upvote.png' %}">
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<!-- Song Table -->

<script src="{% static 'js/votes.js' %}" type="text/javascript"></script>

{% endblock %}