{% extends "base.html" %}

{% load static %}

{% block body_block %}
<div class="container border space-top">
    <div class="row space-top space-bottom">
        <div class="col-md-12">
            <img src="{{ song.albumArt }}" class="big-image float-left">
            <p class="song-text"><strong>Song</strong>: {{song.name}}<br><strong>Artist</strong>: {{song.artist}}<br><strong>Likes</strong>: {{song.upvotes}}</p>
            <div class="col-md-6 float-left">
                <img id="upvote" title="{{song.slug}}" class="song-image-small float-left" src="{% static 'images/upvote.png' %}">
                <img id="downvote" title="{{song.slug}}" class="song-image-small space-left" src="{% static 'images/downvote.png' %}">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/votes.js' %}" type="text/javascript"></script>
{% endblock %}