{% extends "base.html" %}

{% load static %}

{% block body_block %}


    <!-- Do not use "user", as this is the
        request.user value.
        Do u.user to access username, and
        u.photo to access photo -->
<div class="container space-top">
    {% for u in user_list %}
		<div class="row space-top justify-content-md-center">
        <div class="col-md-8 module-container bg-dark text-wrap">
		<a href="/spuni/profile/{{ u.user }}">
            <img src="{{ u.photo }}" class="user-image float-left">
            <p class="song-text">{{u.user}}</p>
		</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}